@model Player

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Getted Player</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ClubName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.Id</th>
            <th>@Model.FirstName</th>
            <th>@Model.LastName</th>
            <th>@Model.ClubName</th>
        </tr>
    </tbody>
</table>
